/* src/app/app.component.css */
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: flex-start;
}
.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;

  margin-left: 5px;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
}
.nav-link:hover {
  color: black; /* Change to desired hover color */
  transform: scale(1.1); /* Slightly increase the size */
}
.navbar {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-nav {
  padding-right: 30px;
}
.list {
  padding-right: 10px;
}
nav {
  background-color: rgb(85, 191, 85);
  width: 100%;
}
h3 {
  padding-left: 30px;
}
